{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<br/>
      <div class="jumbotron">
        <h2 class="display-4">Olá!</h2>
        <p class="lead">Você esqueceu sua senha? Sem problemas, ele pode ser resetada abaixo:</p>
        <hr class="my-4">
        <form action="/forgot_password" method="post">
            <div class="form-group">
            <label for="exampleInputEmail1">Informe seu email:</label>
            <input type="email" class="form-control" name="name"  placeholder="Enter email">
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Enviar</button>
        </form
     </div>
{% endblock %}