{% extends 'base.html' %}

{% block body %}
 
     <div class="jumbotron">
        <h2 class="display-4">{{ the_title }}{{the_user}}!</h2>
        <hr class="my-4">

        {% if smessage %}
        <div class="alert alert-success">
          {{ smessage }}
        </div>
      {% endif %}
      {% if umessage %}
        <div class="alert alert-danger">
          {{ umessage }}
        </div>

      {% endif %}
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Dados pessoais</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#perfil" role="tab" aria-controls="profile" aria-selected="false">Endereços</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contato" role="tab" aria-controls="contact" aria-selected="false">Contatos</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col">Nome completo: {{ the_completename }}
          </div>
          <div class="col">
            {% if amessage_name %}
            <div class="alert alert-warning">
            {{ amessage_name }}
            </div>
          {% endif %} 
           {% if smessage_name %}
            <div class="alert alert-success">
            {{ smessage_name }}
            </div>
          {% endif %}
          {% if l %}
          <a href = "{{ l }}" target="_blank">{{ l }}</a>
          {% endif %}
          {% if umessage_name %}
            <div class="alert alert-danger">
            {{ umessage_name }}
            </div>
            <form action ="/enviar_doc" method="POST" enctype="multipart/form-data">
            <input type="file" name="upload">
            <br>
            <br>
            <button type="submit">Enviar</button>
            </form>
          {% endif %}
          </div>
        </div>
    
      
        <form method='POST' action='/pre_atualizar'>
        <div class="form-group">
          <div class="row">
            <div class="col"><button type="submit" class="btn btn-info">Atualizar</button></div>
          </div>
        </div>
      </form>
    </div>
    <div class="tab-pane fade" id="perfil" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contato" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>

  <form method='POST' action='/logout'>
    <div class="form-group">
      <div class="row">
        <div class="col"><button type="submit" class="btn btn-info">Sair</button></div>
      </div>
    </div>
  </form>
  
  </div>
 
{% endblock %}
