{% extends 'base.html' %}

{% block body %}
<br/>
<div class="jumbotron">
        <h1 class="display-4">Usuários com dados pendentes</h1>
        <p class="lead">Lista de pendências:</p>
        <hr class="my-4">
        {% if smessage %}
        <div class="alert alert-success">
          {{ smessage }}
        </div>
      {% endif %}
      {% if umessage %}
        <div class="alert alert-danger">
          {{ umessage }}
        </div>
      {% endif %}
        {% for row in array_pendentes %}
        <div class="row">
          <div class="col">
          <form method='POST' action='/exibir_usuario'>
          <div class="form-group">
            <a href="show_one.html" value="{{row}}">{{row}}</a>
          </div>
          </form>
          </div>
          <div class="col">
          <form>
            <button type="submit" class="btn btn-info">Confirmar</button>
          </form> 
          </div>
        </div>
        
    <hr class="my-4">
        {% endfor %}
                 
       
        
        <form method='POST' action='/todos_usuarios'>
          <div class="form-group">
            <div class="row">
              <div class="col"><button type="submit" class="btn btn-info">Exibir todos</button></div>
            </div>
          </div>
        </form>
	
    <form method='POST' action='/logout'>
        <div class="form-group">
          <div class="row">
            <div class="col"><button type="submit" class="btn btn-info">Sair</button></div>
          </div>
        </div>
      </form>
</div>

{% endblock %}