{% extends 'base.html' %}

{% block body %}
<br/>
<div class="jumbotron">
        <h1 class="display-4">Todos os usuários:</h1>
        <p class="lead">Lista de usuários:</p>
        <hr class="my-4">
        <h5>Email do usuário: {{ the_email }}</h5>
        <h5>Nome do usuário: {{ the_nickname }}</h5>
        <h5>Nome completo: {{ the_completename }}</h5>
        <h5>Informações confirmadas? (1-Vazio; 2-Não; 3-Sim): {{ the_confirmed }}</h5>
        </div>
    
        <form method='POST' action='/exibir_pendentes'>
        <div class="form-group">
            <div class="row">
            <div class="col"><button type="submit" class="btn btn-info">Exibir pendentes</button></div>
            </div>
        </div>
        </form>
	
        <form method='POST' action='/logout'>
        <div class="form-group">
          <div class="row">
            <div class="col"><button type="submit" class="btn btn-info">Sair</button></div>
          </div>
        </div>
        </form>
</div>

{% endblock %}