{% extends 'base.html' %}

{% block body %}
 
     <div class="jumbotron">
        <h2 class="display-4">{{ the_title }}</h2>
        <hr class="my-4">

    <form method='POST' action='/atualizar_dados'>
        <div class="form-group">

            <div class="row">
                <div class="col">Nome completo:<input type="text" name="completename"/></div>
                <div class="col"><button type="submit" class="btn btn-info">OK</button></div>
            </div>
        </div>
    </form>

  <form method='POST' action='/logout'>
    <div class="form-group">
      <div class="row">
        <div class="col"><button type="submit" class="btn btn-info">Sair</button></div>
      </div>
    </div>
  </form>

  <form method='POST' action='/minha_pagina'>
    <div class="form-group">
      <div class="row">
        <div class="col"><button type="submit" class="btn btn-info">Voltar</button></div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
